<!DOCTYPE html>
<html>
    <head>
        <title>PNW Camp</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>  
    <body>
<p>This is header file</p>
 